MediateMachine=node[02-03] #Set up the satellite node
MediateWidth=200 #Set up the tree-width of failure prediction based tree stucture
ClusterName=test
ControlMachine=node01
SlurmdPort=10100
SlurmctldPort=10000-10099
TreeWidth=50
ReturnToService=1
CacheGroups=0
MaxJobCount=500
PluginDir=/usr/local/eslurm/lib:/usr/local/eslurm/lib/slurm
AuthType=auth/none
CredType=cred/none
JobCompType=jobcomp/none
MpiDefault=pmi2
ProctrackType=proctrack/linuxproc
SwitchType=switch/none
TaskPlugin=task/affinity
JobCheckpointDir=/usr/local/eslurm/var/slurm/checkpoint
SlurmctldPidFile=/usr/local/eslurm/var/run/slurmctld.pid
SlurmdSpoolDir=/usr/local/eslurm/tmp/slurmd
SlurmdPidFile=/usr/local/eslurm/var/run/slurmd.pid
StateSaveLocation=/usr/local/eslurm/var/lib/slurm
PropagateResourceLimits=ALL
InactiveLimit=300
KillWait=30
MinJobAge=300
SlurmctldTimeout=300
SlurmdTimeout=300
Waittime=60
SlurmctldDebug=fatal
SlurmctldLogFile=/usr/local/eslurm/var/log/slurm/slurmctld.log
SlurmdDebug=info
SlurmdLogFile=/usr/local/eslurm/var/log/slurm/slurmd.log
SlurmSchedLogFile=/usr/local/eslurm/var/log/slurm/sched.log
SlurmSchedLogLevel=0
EioTimeout=300
MessageTimeout=10
TrackWCKey=YES
TmpFS=/usr/local/eslurm/tmp
EnforcePartLimits=YES
DebugFlags=NO_CONF_HASH
FastSchedule=1
PriorityType=priority/multifactor
SchedulerType=sched/backfill
SelectType=select/linear
TopologyPlugin=topology/tree
PreemptType=preempt/none
PreemptMode=OFF
NodeName=node[04-63] State=UNKNOWN Sockets=4 CoresPerSocket=4 RealMemory=16000
PartitionName=all Nodes=node[04-63] OverSubscribe=EXCLUSIVE Default=YES
